@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var fullName = User.FindFirst("FullName")?.Value ?? "Guest";
}

<h1>Welcome, @User.Identity.Name!</h1>
<p>Enjoy your personalized dashboard.</p>
