html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; /* Xóa margin-bottom */
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}

.navbar-brand{
    color: orangered;
}